/* font-family: 'Cinzel', serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */

h1 {
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Cinzel', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  /*background-image: linear-gradient(rgb(224, 255, 248), rgb(252, 221, 200));*/
  background-image: url(../../assets/img/bitmap.png);
  background-repeat: repeat;
}

.photos img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.main-section h3 {
}

.main-section img {
  width: 38vw;
  object-fit: cover;
  border-radius: 20px;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.newsletter {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 20px;
}

.card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

